html,body{
	width: 100%;
	height: 100%;
}
.swiper-container{
	width:100%;
	height: 100%;
}
.swiper-slide{
	width:100%;
	height:100%;
	background-size:cover;
	text-align:center;
}

/* 设置音乐图标样式和动画 */
#music{
	width: 0.5rem;
	height: 0.5rem;
	background:url(../images/music.png);
	background-size:100% 100%;
	position:absolute;
	top:0.1rem;
	right:0.1rem;
	z-index:5;
	animation: music 2s linear infinite;
	
}
@keyframes music
{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg);}
}

/* 设置上滑箭头样式 */
.arrows{
	width: 0.4rem;
	height: 0.2rem;
	position:absolute;
	bottom:0.1rem;
	left:50%;
	margin-left:-0.2rem;
	z-index:2;
	animation: hide 1s linear infinite forwards;

}
@keyframes hide
{
	from{
		opacity:1;
		}
	to{
		opacity:0;
		bottom:0.28rem;
		}
}

/* 添加分页背景图片 */
.page1{
	background-image:url(../images/rabbit.jpg);
}
.page2{
	background-image:url(../images/dds.jpg);
	background-position:center;
}
.page3{
	background-image:url(../images/mwzz.jpg);
}
.page4{
	background-image:url(../images/xhs.jpg);
}
.page5{
	background-image:url(../images/jng.jpg);
}
.page6{
	background-image:url(../images/pkq.jpg);
}



/* 设置第一页样式 */
/* 设置文字样式 */
.title{
	color:#fff;
}
.ETitle{
	margin:1rem auto;
	font-size:0.4rem;
}
.CTitle1{
	margin:0.10rem auto;
	font-size:0.4rem;
}
.CTitle2{
	margin:0.30rem auto;
	font-size:0.4rem;
}
.cut{
	width: 2rem;
	height: 0.03rem;
	background:#fff;
	margin:0 auto;
}
/* 设置头像样式 */
.resume{
	width: 2.5rem;
	height: 2.5rem;
	margin:0.5rem auto;
}
/* 设置div"进一步了解"的样式 */
.knowMore{
	width: 3rem;
	height: 1rem;
	margin:3.5rem auto;
	font-size:0.3rem;
	line-height:1rem;
	color:#666;
	background:url(../images/known-more.png) no-repeat;
	background-size:100%;
	background-position:center;
}



/* 设置第二页样式 */
/* 添加大底框背景 */
.bottomBorder{
	width: 6rem;
	height: 12rem;
	margin:0.30rem auto;
	background:url(../images/bg3.png) no-repeat;
	background-size:100%;
	background-position:center;
	position:relative;
	
}
/* 添加照片样式 */
.photo{
	position:absolute;
	top:3.1rem;
	right:1.4rem;
	width:3rem;
	border-radius: 0.5rem;
	/*height:3rem;*/
}
/* 添加底框内文字样式 */
.infor{
	color:#faa;
	font-size:0.36rem;
	text-align:left;
	position:absolute;
	top:6.30rem;
	left:0.5rem;
}
.inforMes{
	width: 1.20rem;
	color:#fff;
	font-size:0.25rem;
	border-radius:0.20rem;
	background:#faa;
	text-align:center;
}



/* 设置第三页样式 */
/* 设置文字样式 */
.skill{
	margin:0.6rem auto;
	width: 3rem;
	height: 0.8rem;
	line-height:0.80rem;
	color:#fff;
	border-radius:0.20rem;
	word-spacing:0.20rem;
	background:green;
}
.sks{
	/*border:1px solid #ccc;*/
	position:absolute;
	top:2rem;
	color:#fff;
	font-size:0.36rem;
	/* line-height:80rem; */
	right:0.5rem;
}
.sks li{
	width: 3.6rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin:0.50rem;
	background:lightgreen;
	border-radius:0.20rem;
}
/* 设置技能图片样式 */
.skPic{
	margin:0.46rem 1rem;
	width: 1rem;
	display:block;
}
.skPic1{
	/*border:1px solid #ccc;*/
	margin-top: 1.2rem;
}



/* 设置第四页样式 */
/* 设置标题文字样式 */
.expTitle{
	margin:0.6rem auto;
	width: 3.5rem;
	height: 0.8rem;
	line-height:0.80rem;
	color:#fff;
	border-radius:0.20rem;
	background:#ccc;
}
/* 设置线样式和动画 */
.line{
	margin:0.6rem auto;
	width:0.1rem;
	background:#fff;
	border-radius:0.03rem;
}
@keyframes line{
	0%{height:0;}
	100%{height:9rem;}
}
/* 设置圆点样式 */
.circle{
	width: 0.4rem;
	height: 0.4rem;
	border:0.02rem solid #fff;
	border-radius:0.2rem;
	background:#FFD700;
	margin:1.8rem auto;
	margin-left:-0.1rem;
	
}
.bigBox{
	/*border:0.02rem solid #000;*/
	width: 0.20rem;
	height: 3.00rem;
	position:absolute;
	top:1.00rem;
	left:50%;
	margin-left:-0.12rem;
}
/* 设置左边文字样式 */
.expTime{
	position:absolute;
	top:2.8rem;
	color:#fff;
	font-size:0.36rem;
	
}
.expTime li{
	width:3rem;
	margin-bottom:1.7rem;
	margin-left:0.3rem;
	background:#F0E68C;
	border-radius:0.20rem;
}
/* 设置右边文字样式 */
.exp{
	position:absolute;
	top:2.8rem;
	color:#fff;
	font-size:0.36rem;
}
.exp li{
	width:3rem;
	margin-bottom:1.7rem;
	margin-left:4.2rem;
	background:#F0E68C;
	border-radius:0.20rem;
}



/* 设置第五页样式 */
/* 设置标题文字样式 */
.contactInfor{
	margin:0.8rem auto;
	width: 3rem;
	height:0.8rem;
	line-height:0.8rem;
	color:#fff;
	border-radius:0.20rem;
	background:#1E90FF;
}
.inforBox{
	margin:1.6rem auto;
}
.inforBox li{
	height: 2rem;
	color:#fff;
	font-size:0.3rem;
	line-height:2rem;
	background:rgba(135,206,235,0.9);
}



/* 设置第六页样式 */
.thankBox{
	margin:2rem auto;
}
.thank{
	height: 0.6rem;
	font-size:0.6rem;
	line-height:0.6rem;
	color:#fff;
	margin:0.6rem auto;
	border-radius:0.20rem;
}
